body {
    background-color: gold;
    background-image: url(../images/US_Treasury.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tupper {
    position: relative;
    min-height: 100vh;
}

.ware {
    /* min-height: 100vh; */
    padding-bottom: 1.5rem;
}

#booty {
    text-shadow: 2px 2px silver;
    background-color: gold;
    color: black;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    height: 1.5rem;
}

#typing {
    font-size: 6em;
    text-shadow: 2px 2px silver;
    color: black;
    font-family: 'Leckerli One', cursive;
    margin-bottom: .8em;
}

#thing1, #thing2 {
    width: 100%;
    overflow: auto;
    max-height: 75vh;
    font-family: 'Leckerli One', cursive;
}

.table>tbody>tr>td,
.table>thead>tr>th {
    border:none;
    color: #212e53;
    font-weight: 500;
    font-size: 1.1rem;
}

.table>thead>tr>th {
    font-size: 1.4rem;
    text-shadow: 2px 2px silver;
    color: black;
}

table>tbody>tr:nth-child(2n+1)>td{
    background: black;
    color: silver;
}

table>tbody>tr:nth-child(2n)>td{
    background: silver;
    color: black;
}

.table>tbody>tr:hover>td {
    background: gold;
}

table>tbody>tr:nth-child(2n+1):hover>td{
    background: green;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

img {
    height: 27vh;
}