<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Treasury</title>

    <!-- Get Bootstrap CSS and JS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Get D3 JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Get our Font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
    
    <!-- Get our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="tupper">
        <div class="ware">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-12 m-auto">
                            <a href="/decision/Gold">
                                <p id="gold">
                                    GOLD
                                </p>
                            </a>
                    </div>
                    <div class="col-md-6 col-12 m-auto">
                        <a href="/decision/Silver">
                            <p id="silver">
                                SILVER
                            </p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12 m-auto">
                        <a href="/decision/Platinum">
                            <p id="platinum">
                                PLATINUM
                            </p>
                        </a>
                    </div>
                    <div class="col-md-6 col-12 m-auto">
                        <a href="/decision/Palladium">
                            <p id="palladium">
                                PALLADIUM
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <footer id="booty">
            Demonstration only, not intended for actual use. Any person deciding to use the recommendations
            given by this application does so at their own risk, and with the full understanding they are likely to lose money.
        </footer>
    </div>

    <!-- Our JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>